<% provide(:title, 'StarCats') %>
<% provide(:header, '| StarCats') %> 

<h1>StarCats</h1>
<p>
  <h3>About the StarCats</h3>

  Throughout our group history, we have gone through many name changes. We have been called team Slow Cooking, team Serendipity, and team Starcats.<br>
  <br>
  What we are currently working on is a video game for our Senior Projects Course. This will be a PC game written in XNA. Stay tuned! There's more to come.
</p>